# Virtual Environment
venv/

# Python cache
__pycache__/

# Environment variables
*.env
.env.*
.env.ai
.env.hr

# Database file
*.db

# Session file for Telethon
*.session

# IDE configuration files
.idea/
.vscode/

#Documentation
documentation.md
